<br>
<div class="row">
  <div class="col-lg-4" align="center" *ngFor=" let pelicula of pelicula; let i = index">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top img" [src]="pelicula.imagen" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{pelicula.nombre}}</h4>
        <p class="card-text">{{pelicula.contenido}}</p>
        <a href="#" class="btn btn-primary">{{pelicula.calificacion}}</a>
      </div>
    </div>
  </div>
</div>


<div class="fb-share-button"
     data-href="https://www.youtube.com/watch?v=8qz8FqmTsJY"
     data-layout="button"
     data-size="large"
     data-mobile-iframe="true">
  <button type="button" class="btn btn-light btn-lg active"><a class="fb-xfbml-parse-ignore"
     target="_blank"
     href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyoutube.com%2Fwatch?v=gOweBNPpuoM%2F&amp;src=sdkpreparse">Compartir</a></button></div>
<!-- Video Fito&Fitipaldis -- prueba de link
https://www.youtube.com/watch?v=gOweBNPpuoM-->


<!--html>
<head>
  <title>Your Website Title</title>
  <!-- You can use Open Graph tags to customize link previews.
  Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<!--meta property="og:url"           content="https://www.youtube.com/watch?v=8qz8FqmTsJY" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Peliculas" />
<meta property="og:description"   content="Lista top de peliculas" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>
<body-->

<!-- Load Facebook SDK for JavaScript -->
<!--div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<!--div class="fb-share-button"
     data-href="https://www.youtube.com/watch?v=8qz8FqmTsJY"
     data-layout="button_count">
</div>

</body>
</html-->
