<!--
  Generated template for the AutoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab class="fab-map" color="secondary" (click)="getAutores()">
      <ion-icon name='md-refresh'></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="ListAutores!=null" >
    <ion-item *ngFor="let aut of ListAutores">
      <ion-thumbnail item-start>
        <img [src]="aut.imagen">
      </ion-thumbnail>
      <h2>{{aut.nombre}}</h2>
      <p>{{aut.calificacion}}</p>
      <button ion-button clear item-end  (click)="presentPopover(aut)"> <ion-icon name="list"></ion-icon></button>
    </ion-item>
  </ion-list>
  <div text-center *ngIf="bandera">
    <h2>Problemas de conexion</h2>
  </div>
</ion-content>
