<!--<div class="card" style="width: 20rem;">-->
  <!--<div *ngFor=" let director of director; let i = index">-->
    <!--<img class="card-img-top" [src]="director.imagen" alt="Card image cap">-->
    <!--<div class="card-block">-->
      <!--<h4 class="card-title">{{director.nombre}}</h4>-->
      <!--<p class="card-text">{{director.contenido}}</p>-->
      <!--<a href="#" class="btn btn-primary">{{director.calificacion}}</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<br>
<div class="tab-content">
  <div class="row">
    <div class="col-md-2 col-sm-6"></div>
    <div style="width: 20rem;" class="col-md-4">
      <div  *ngFor=" let director of director; let i = index">
        <img class="card-img-top img" [src]="director.imagen" alt="Card image cap">
        <h4 class="">{{director.nombre}}</h4>
        <p style="color: blue">{{director.contenido}}</p>
        <a href="#" class="btn btn-primary">{{director.calificacion}}</a>
      </div>
      <br>
    </div>
  </div>
</div>
