<h1>Bienvenido a la página de directores</h1>
<br>
<div class="row">
  <div class="col-lg-4" align="center" *ngFor=" let director of director; let i = index">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top img" [src]="director.imagen" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{director.nombre}}</h4>
        <p class="card-text">{{director.contenido}}</p>
        <a href="#" class="btn btn-primary">{{director.calificacion}}</a>
      </div>
    </div>
  </div>
</div>
