<!--<div>-->
  <h2>Welcome to Ionic!</h2>
<div class="row">
  <div class="col-lg-12" align="center">
  <div  class="card">
    <img class="card-img-top" src="https://raw.githubusercontent.com/ionic-team/ionic-preview-app/master/src/assets/img/card-saopaolo.png" alt="Card image cap">
    <div class="card-block">
      <div style="font-size: xx-large; font-family: 'Arial Black'" class="card-title">São Paulo</div>
      <div class="card-subtitle">41 Listings</div>
    </div>
  </div>
<!--</div>-->
<br>
  <br>

  <div class="row">
    <!--<div class="card mb-3">-->
    <div class="col-lg-12" align="center">
  <div class="card">
    <img class="card-img-top" src="https://raw.githubusercontent.com/ionic-team/ionic-preview-app/master/src/assets/img/card-amsterdam.png" alt="Card image cap">
    <div class="card-block">
      <div style="font-family: 'Arial Black'; font-size: xx-large" class="card-title">Amsterdam</div>
      <div class="card-subtitle">64 Listings</div>
    </div>
  </div>
    </div>
</div>
<br>
    <br>

  <div class="row">
    <div class="col-lg-12" align="center">
  <div class="card">
    <img class="card-img-top" src="https://raw.githubusercontent.com/ionic-team/ionic-preview-app/master/src/assets/img/card-madison.png" alt="Card image cap">
    <div class="card-block">
      <div style="font-size: xx-large; font-family: 'Arial Black'" class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </div>
  </div>
    </div>
  </div>

  <!--<div >-->
    <!--<img width="300px" height="300px" src="img/card-sf.png"/>-->
    <!--<div class="card-title">San Francisco</div>-->
    <!--<div class="card-subtitle">72 Listings</div>-->
  <!--</div>-->
    <footer>
      <p>Posted by: Proyecto Final SOA 2017A</p>
      <p>Contact information: <a href="www.epn.edu.ec">
        SOA 2017A</a>.</p>
    </footer>
