<!--
  Generated template for the PeliculasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab class="fab-map" color="secondary" (click)="getPelis()">
      <ion-icon name='md-refresh'></ion-icon>
    </button>
  </ion-fab>
  <div  *ngIf="ListPeliculas!=null">
    <ion-card *ngFor="let peli of ListPeliculas">

      <ion-item>
        <ion-avatar item-start>
          <img [src]="peli.imgen">
        </ion-avatar>
        <h2>{{peli.titulo}}</h2>
        <h3>{{peli.genero[0].name}}</h3>
        <p>{{peli.fechaLanzamiento  | date }}</p>
      </ion-item>

      <img [src]="peli.imgen">

      <ion-card-content>
        <p>{{peli.sinopsis}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="md-happy"></ion-icon>
            <div>{{peli.popularidad.votos}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="md-eye"></ion-icon>
            <div>{{peli.popularidad.views}}</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button ion-button icon-right (click)="presentModal(peli)">
            Comentar
            <ion-icon name="chatboxes"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
  <div text-center *ngIf="bandera">
    <h2>Problemas de conexion</h2>
  </div>


</ion-content>
